/*---------------
 BODY
---------------*/
body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.1rem;
  margin: auto;
  max-width: 850px;
  padding-top: 0px;
}

header {
  padding: 0;
}

div.wrap {
  text-align: center;
}

h1, h2 {
  color: #1f3864;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

header h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.9rem;
  margin-top: 0;
}

footer h2 {
  font-size: 1.4rem;
  text-align: right;
}

main p {
  text-align: left;
}

a,
a:visited {
  color: #1f3864;
}

a:focus,
a:hover {
  color: #526b97;
}


